In [22]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
%config InlineBackend.figure_format = 'retina'
 
!apt -qq -y install fonts-nanum
 
import matplotlib.font_manager as fm
fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
plt.rc('font', family='NanumBarunGothic') 
mpl.font_manager._rebuild()

fonts-nanum is already the newest version (20170925-1).
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 43 not upgraded.

In [23]:
import pandas as pd
%matplotlib notebook
import matplotlib.pyplot as plt
import seaborn as sns
# excel 파일을 다운로드하는거와 동시에 pandas에 load하기
# 흔히 사용하는 df라는 변수는 data frame을 의미합니다.
#df= pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)[0]
df= pd.read_excel('/content/drive/My Drive/Colab Notebooks/kospi1200.xlsx')
df.head()

         회사명    종목코드  ...                                   홈페이지     지역
0     우리금융지주  316140  ...                http://www.woorifg.com/  서울특별시
1      효성중공업  298040  ...  http://www.hyosungheavyindustries.com  서울특별시
2  HDC현대산업개발  294870  ...                 http://www.hdc-dvp.com  서울특별시
3       애경산업   18250  ...               http://www.aekyung.co.kr  서울특별시
4       셀트리온   68270  ...               http://www.celltrion.com  인천광역시

[5 rows x 9 columns]

In [24]:
#출처: https://wendys.tistory.com/173 [웬디의 기묘한 이야기]
code_df = df
code_df.종목코드 = code_df.종목코드.map(('{:06d}'.format))
code_df = code_df[['회사명', '종목코드','업종']] # 한글로된 컬럼명을 영어로 바꿔준다. 
code_df = code_df.rename(columns={'회사명': 'name', '종목코드': 'code', '업종': 'sector'}) 
code_df.head()

        name    code                             sector
0     우리금융지주  316140                             기타 금융업
1      효성중공업  298040  전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업
2  HDC현대산업개발  294870                             건물 건설업
3       애경산업  018250                        기타 화학제품 제조업
4       셀트리온  068270              기초 의약물질 및 생물학적 제제 제조업

In [0]:
code_df['sector'].unique()

In [0]:
count_sector = code_df['sector'].value_counts()
count_sector

In [0]:
plt.pie(count_sector)
plt.axis('equal')
plt.legend('sector')
plt.show

In [0]:
count_sector.head()

In [25]:
sector_0 = code_df['sector'].str.contains("제조업")
s0 = code_df[sector_0]
print(s0.shape)
print()
s0['Field'] = 'Manufacturing'
s0.head()

(109, 3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

    name    code                             sector          Field
1  효성중공업  298040  전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업  Manufacturing
3   애경산업  018250                        기타 화학제품 제조업  Manufacturing
4   셀트리온  068270              기초 의약물질 및 생물학적 제제 제조업  Manufacturing
5  SK케미칼  285130                 합성고무 및 플라스틱 물질 제조업  Manufacturing
8    오리온  271560                          기타 식품 제조업  Manufacturing

In [26]:
sector_1 = code_df['sector'].str.contains("금융업")
s1 = code_df[sector_1]

print(s1.shape)
print()
s1['Field'] = 'FInance'
s1.head()

(26, 3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       name    code  sector    Field
0    우리금융지주  316140  기타 금융업  FInance
19    쿠쿠홀딩스  192400  기타 금융업  FInance
20      BGF  027410  기타 금융업  FInance
33  BNK금융지주  138930  기타 금융업  FInance
39    한라홀딩스  060980  기타 금융업  FInance

In [27]:
it_list = ['컴퓨터', '인터넷', '개발', '통신']
a = code_df['sector'].str.contains(it_list[0])
b = code_df['sector'].str.contains(it_list[1])
c = code_df['sector'].str.contains(it_list[2])
d  = code_df['sector'].str.contains(it_list[3])
aa = code_df[a]
bb = code_df[b]
cc = code_df[c]
dd= code_df[d]
s2 = pd.concat([aa,bb,cc,dd])
s2['Field'] = 'IT'
s2.head()

       name    code                            sector Field
17  삼성에스디에스  018260           컴퓨터 프로그래밍, 시스템 통합 및 관리업    IT
7       카카오  035720  자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업    IT
51    NAVER  035420  자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업    IT
9       넷마블  251270                    소프트웨어 개발 및 공급업    IT
78    엔씨소프트  036570                    소프트웨어 개발 및 공급업    IT

In [28]:
sss = pd.concat([s0,s1,s2]) # 세 개의 데이터프레임을 이어붙임
len(sss)

147

In [30]:
def get_url(item_name, code_df): 
    code = code_df.query("name=='{}'".format(item_name))['code'].to_string(index=False) 
    print(code[1:])
    url = 'http://finance.naver.com/item/sise_day.nhn?code={code}'.format(code=code[1:]) 
    print("요청 URL = {}".format(url)) 
    return url

sss_name = sss['name']
s_name = list(sss_name)

def get_season_price(company, code_df):
  item_name= company
  url = get_url(item_name, code_df) 
  #url

  df = pd.DataFrame() # 1페이지에서 10페이지의 데이터만 가져오기 
  for page in range(1, 11): 
      pg_url = '{url}&page={page}'.format(url=url, page=page) 
      df = df.append(pd.read_html(pg_url, header=0)[0], ignore_index=True)

  df = df.dropna()
  code_df = code_df.dropna()
  df = df[['날짜','종가']] #날짜와 종가만 가져옴


  season10 = df.iloc[:11]# 5월 8일부터 6월 12일까지 약 한달
  season9 = df.iloc[11:21]
  season8 = df.iloc[21:31]
  season7 = df.iloc[31:41]
  season6 = df.iloc[41:51]
  season5 = df.iloc[51:61]
  season4 = df.iloc[61:71]# 5월 8일부터 6월 12일까지 약 한달
  season3 = df.iloc[71:81]
  season2 = df.iloc[81:91]
  season1 = df.iloc[91:]
  s10_m = season4.mean()# 5월간 종가 평균
  s9_m = season3.mean()
  s8_m = season2.mean()
  s7_m = season1.mean()
  s6_m = season4.mean()# 5월간 종가 평균
  s5_m = season3.mean()
  s4_m = season4.mean()# 5월간 종가 평균
  s3_m = season3.mean()
  s2_m = season2.mean()
  s1_m = season1.mean()
  s_m = pd.concat([s1_m, s2_m, s3_m, s4_m,s5_m, s6_m, s7_m, s8_m,s9_m, s10_m], axis =1)# keys= ['Season1','Season2','Season3' ,'Season4'] , axis = 1) # 좌우로 합침
  #type(s4_m)
  s_m = [item_name, s1_m[0], s2_m[0], s3_m[0], s4_m[0],s5_m[0], s6_m[0], s7_m[0], s8_m[0],s9_m[0], s10_m[0]] # type: list 
  return s_m

season_price = []
for i in s_name:
  company_prices = get_season_price(i, code_df)
  season_price.append(company_prices)

season_price

298040
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=298040
018250
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=018250
068270
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=068270
285130
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=285130
271560
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=271560
267250
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=267250
241560
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=241560
207940
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=207940
079550
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=079550
204320
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=204320
192820
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=192820
185750
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=185750
064350
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=064350
170900
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=170900
161890
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=161890
161390
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=161390
145990
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=145990
047810
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=047810
020150
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=020150
011210
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=011210
128940
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=128940
120110
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=120110
115390
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=115390
000080
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=000080
108670
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=108670
105630
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=105630
103140
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=103140
011070
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=011070
097950
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=097950
096770
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=096770
093370
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=093370
093050
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=093050
090430
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=090430
079430
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=079430
073240
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=073240
014830
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=014830
034220
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=034220
069620
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=069620
069260
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=069260
066570
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=066570
064960
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=064960
051900
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=051900
051910
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=051910
042670
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=042670
049770
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=049770
034020
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=034020
033780
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=033780
006650
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=006650
011790
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=011790
000660
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=000660
025540
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=025540
018880
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=018880
020000
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=020000
017800
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=017800
025860
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=025860
007310
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=007310
010120
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=010120
014820
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=014820
011170
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=011170
001430
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=001430
010130
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=010130
009420
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=009420
012330
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=012330
006280
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=006280
014680
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=014680
008060
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=008060
005850
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=005850
003850
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=003850
002960
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=002960
003000
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=003000
005490
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=005490
001230
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=001230
011780
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=011780
004490
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=004490
010950
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=010950
012450
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=012450
004020
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=004020
010780
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=010780
010060
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=010060
006400
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=006400
009150
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=009150
005180
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=005180
003920
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=003920
004370
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=004370
001520
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=001520
000880
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=000880
001060
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=001060
000670
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=000670
002240
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=002240
002350
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=002350
004000
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=004000
003240
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=003240
006390
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=006390
000990
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=000990
005930
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=005930
003620
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=003620
003410
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=003410
005610
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=005610
007570
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=007570
005380
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=005380
009830
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=009830
000270
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=000270
003520
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=003520
002380
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=002380
005300
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=005300
002270
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=002270
002790
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=002790
001680
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=001680
000100
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=000100
316140
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=316140
192400
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=192400
027410
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=027410
138930
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=138930
060980
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=060980
034730
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=034730
105560
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=105560
096760
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=096760
029780
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=029780
086790
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=086790
078930
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=078930
071050
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=071050
055550
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=055550
006840
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=006840
012630
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=012630
008930
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=008930
006260
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=006260
006120
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=006120
001800
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=001800
004990
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=004990
004800
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=004800
001040
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=001040
003550
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=003550
000640
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=000640
000070
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=000070
000240
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=000240
018260
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=018260
035720
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=035720
035420
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=035420
251270
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=251270
036570
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=036570
071840
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=071840
032640
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=032640
051600
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=051600
066570
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=066570
030200
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=030200
017670
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=017670
005930
요청 URL = http://finance.naver.com/item/sise_day.nhn?code=005930

[['효성중공업',
  24361.11111111111,
  24110.0,
  22050.0,
  17890.0,
  22050.0,
  17890.0,
  24361.11111111111,
  24110.0,
  22050.0,
  17890.0],
 ['애경산업',
  31116.666666666668,
  30825.0,
  28820.0,
  26085.0,
  28820.0,
  26085.0,
  31116.666666666668,
  30825.0,
  28820.0,
  26085.0],
 ['셀트리온',
  171722.22222222222,
  172250.0,
  176300.0,
  175450.0,
  176300.0,
  175450.0,
  171722.22222222222,
  172250.0,
  176300.0,
  175450.0],
 ['SK케미칼',
  64188.88888888889,
  67220.0,
  64420.0,
  60110.0,
  64420.0,
  60110.0,
  64188.88888888889,
  67220.0,
  64420.0,
  60110.0],
 ['오리온',
  108333.33333333333,
  107450.0,
  102190.0,
  97350.0,
  102190.0,
  97350.0,
  108333.33333333333,
  107450.0,
  102190.0,
  97350.0],
 ['현대중공업지주',
  299000.0,
  291550.0,
  282900.0,
  255750.0,
  282900.0,
  255750.0,
  299000.0,
  291550.0,
  282900.0,
  255750.0],
 ['두산밥캣',
  31555.555555555555,
  30350.0,
  28720.0,
  26755.0,
  28720.0,
  26755.0,
  31555.555555555555,
  30350.0,
  28720.0,
  26755.0],
 ['삼성바이오로직스',
  468055.55555555556,
  514700.0,
  488550.0,
  483650.0,
  488550.0,
  483650.0,
  468055.55555555556,
  514700.0,
  488550.0,
  483650.0],
 ['LIG넥스원',
  29266.666666666668,
  28775.0,
  27335.0,
  25165.0,
  27335.0,
  25165.0,
  29266.666666666668,
  28775.0,
  27335.0,
  25165.0],
 ['만도',
  35716.666666666664,
  34790.0,
  33130.0,
  27500.0,
  33130.0,
  27500.0,
  35716.666666666664,
  34790.0,
  33130.0,
  27500.0],
 ['코스맥스',
  79255.55555555556,
  72660.0,
  76040.0,
  77960.0,
  76040.0,
  77960.0,
  79255.55555555556,
  72660.0,
  76040.0,
  77960.0],
 ['종근당',
  94833.33333333333,
  94150.0,
  91320.0,
  85970.0,
  91320.0,
  85970.0,
  94833.33333333333,
  94150.0,
  91320.0,
  85970.0],
 ['현대로템',
  15511.111111111111,
  15160.0,
  14450.0,
  12890.0,
  14450.0,
  12890.0,
  15511.111111111111,
  15160.0,
  14450.0,
  12890.0],
 ['동아에스티',
  97233.33333333333,
  95190.0,
  91420.0,
  88870.0,
  91420.0,
  88870.0,
  97233.33333333333,
  95190.0,
  91420.0,
  88870.0],
 ['한국콜마',
  47811.11111111111,
  45555.0,
  44660.0,
  40625.0,
  44660.0,
  40625.0,
  47811.11111111111,
  45555.0,
  44660.0,
  40625.0],
 ['한국타이어앤테크놀로지',
  30055.555555555555,
  29015.0,
  27215.0,
  24280.0,
  27215.0,
  24280.0,
  30055.555555555555,
  29015.0,
  27215.0,
  24280.0],
 ['삼양사',
  45277.77777777778,
  42395.0,
  39925.0,
  36365.0,
  39925.0,
  36365.0,
  45277.77777777778,
  42395.0,
  39925.0,
  36365.0],
 ['한국항공우주',
  31838.88888888889,
  30860.0,
  28425.0,
  24570.0,
  28425.0,
  24570.0,
  31838.88888888889,
  30860.0,
  28425.0,
  24570.0],
 ['일진머티리얼즈',
  49494.444444444445,
  52150.0,
  50555.0,
  44430.0,
  50555.0,
  44430.0,
  49494.444444444445,
  52150.0,
  50555.0,
  44430.0],
 ['현대위아',
  48994.444444444445,
  44025.0,
  41925.0,
  34840.0,
  41925.0,
  34840.0,
  48994.444444444445,
  44025.0,
  41925.0,
  34840.0],
 ['한미약품',
  291333.3333333333,
  292300.0,
  274100.0,
  269550.0,
  274100.0,
  269550.0,
  291333.3333333333,
  292300.0,
  274100.0,
  269550.0],
 ['코오롱인더',
  45322.22222222222,
  43190.0,
  37850.0,
  31800.0,
  37850.0,
  31800.0,
  45322.22222222222,
  43190.0,
  37850.0,
  31800.0],
 ['락앤락',
  14433.333333333334,
  13835.0,
  13605.0,
  11789.0,
  13605.0,
  11789.0,
  14433.333333333334,
  13835.0,
  13605.0,
  11789.0],
 ['하이트진로',
  31900.0,
  29920.0,
  29080.0,
  27565.0,
  29080.0,
  27565.0,
  31900.0,
  29920.0,
  29080.0,
  27565.0],
 ['LG하우시스',
  49955.555555555555,
  50175.0,
  48955.0,
  43075.0,
  48955.0,
  43075.0,
  49955.555555555555,
  50175.0,
  48955.0,
  43075.0],
 ['한세실업',
  16105.555555555555,
  15205.0,
  14275.0,
  12750.0,
  14275.0,
  12750.0,
  16105.555555555555,
  15205.0,
  14275.0,
  12750.0],
 ['풍산',
  22700.0,
  22210.0,
  21315.0,
  20075.0,
  21315.0,
  20075.0,
  22700.0,
  22210.0,
  21315.0,
  20075.0],
 ['LG이노텍',
  151277.77777777778,
  152200.0,
  145850.0,
  127800.0,
  145850.0,
  127800.0,
  151277.77777777778,
  152200.0,
  145850.0,
  127800.0],
 ['CJ제일제당',
  244888.88888888888,
  252600.0,
  264750.0,
  248350.0,
  264750.0,
  248350.0,
  244888.88888888888,
  252600.0,
  264750.0,
  248350.0],
 ['SK이노베이션',
  130333.33333333333,
  134850.0,
  126700.0,
  104100.0,
  126700.0,
  104100.0,
  130333.33333333333,
  134850.0,
  126700.0,
  104100.0],
 ['후성',
  8740.0,
  8905.0,
  8144.0,
  7188.0,
  8144.0,
  7188.0,
  8740.0,
  8905.0,
  8144.0,
  7188.0],
 ['LF',
  16161.111111111111,
  14770.0,
  13625.0,
  12225.0,
  13625.0,
  12225.0,
  16161.111111111111,
  14770.0,
  13625.0,
  12225.0],
 ['아모레퍼시픽',
  210611.11111111112,
  186450.0,
  178700.0,
  163350.0,
  178700.0,
  163350.0,
  210611.11111111112,
  186450.0,
  178700.0,
  163350.0],
 ['현대리바트',
  12350.0,
  10845.0,
  10186.0,
  8979.0,
  10186.0,
  8979.0,
  12350.0,
  10845.0,
  10186.0,
  8979.0],
 ['금호타이어',
  3950.5555555555557,
  3876.5,
  3893.0,
  3619.5,
  3893.0,
  3619.5,
  3950.5555555555557,
  3876.5,
  3893.0,
  3619.5],
 ['유니드',
  44666.666666666664,
  41915.0,
  39480.0,
  36790.0,
  39480.0,
  36790.0,
  44666.666666666664,
  41915.0,
  39480.0,
  36790.0],
 ['LG디스플레이',
  15105.555555555555,
  16010.0,
  14955.0,
  13235.0,
  14955.0,
  13235.0,
  15105.555555555555,
  16010.0,
  14955.0,
  13235.0],
 ['대웅제약',
  126722.22222222222,
  118750.0,
  113600.0,
  98800.0,
  113600.0,
  98800.0,
  126722.22222222222,
  118750.0,
  113600.0,
  98800.0],
 ['휴켐스',
  19627.777777777777,
  19510.0,
  18925.0,
  17340.0,
  18925.0,
  17340.0,
  19627.777777777777,
  19510.0,
  18925.0,
  17340.0],
 ['LG전자',
  68588.88888888889,
  66550.0,
  65040.0,
  58750.0,
  65040.0,
  58750.0,
  68588.88888888889,
  66550.0,
  65040.0,
  58750.0],
 ['S&T모티브',
  40038.88888888889,
  42085.0,
  43045.0,
  36820.0,
  43045.0,
  36820.0,
  40038.88888888889,
  42085.0,
  43045.0,
  36820.0],
 ['LG생활건강',
  1324666.6666666667,
  1345500.0,
  1324900.0,
  1231700.0,
  1324900.0,
  1231700.0,
  1324666.6666666667,
  1345500.0,
  1324900.0,
  1231700.0],
 ['LG화학',
  342666.6666666667,
  391350.0,
  401300.0,
  375600.0,
  401300.0,
  375600.0,
  342666.6666666667,
  391350.0,
  401300.0,
  375600.0],
 ['두산인프라코어',
  5136.111111111111,
  4950.5,
  4536.0,
  3932.0,
  4536.0,
  3932.0,
  5136.111111111111,
  4950.5,
  4536.0,
  3932.0],
 ['동원F&B',
  219444.44444444444,
  223450.0,
  216100.0,
  197900.0,
  216100.0,
  197900.0,
  219444.44444444444,
  223450.0,
  216100.0,
  197900.0],
 ['두산중공업',
  5770.0,
  5527.0,
  5390.0,
  4424.5,
  5390.0,
  4424.5,
  5770.0,
  5527.0,
  5390.0,
  4424.5],
 ['케이티앤지',
  93900.0,
  92570.0,
  86100.0,
  82120.0,
  86100.0,
  82120.0,
  93900.0,
  92570.0,
  86100.0,
  82120.0],
 ['대한유화',
  104877.77777777778,
  99650.0,
  93660.0,
  88370.0,
  93660.0,
  88370.0,
  104877.77777777778,
  99650.0,
  93660.0,
  88370.0],
 ['SKC',
  52744.444444444445,
  56850.0,
  55210.0,
  50565.0,
  55210.0,
  50565.0,
  52744.444444444445,
  56850.0,
  55210.0,
  50565.0],
 ['SK하이닉스',
  97733.33333333333,
  99440.0,
  99030.0,
  89350.0,
  99030.0,
  89350.0,
  97733.33333333333,
  99440.0,
  99030.0,
  89350.0],
 ['한국단자공업',
  40144.444444444445,
  37990.0,
  34645.0,
  30735.0,
  34645.0,
  30735.0,
  40144.444444444445,
  37990.0,
  34645.0,
  30735.0],
 ['한온시스템',
  11016.666666666666,
  10855.0,
  10760.0,
  10314.0,
  10760.0,
  10314.0,
  11016.666666666666,
  10855.0,
  10760.0,
  10314.0],
 ['한섬',
  29955.555555555555,
  27830.0,
  26150.0,
  23530.0,
  26150.0,
  23530.0,
  29955.555555555555,
  27830.0,
  26150.0,
  23530.0],
 ['현대엘리베이터',
  66455.55555555556,
  61650.0,
  56710.0,
  54440.0,
  56710.0,
  54440.0,
  66455.55555555556,
  61650.0,
  56710.0,
  54440.0],
 ['남해화학',
  8006.666666666667,
  8017.0,
  7425.0,
  6791.0,
  7425.0,
  6791.0,
  8006.666666666667,
  8017.0,
  7425.0,
  6791.0],
 ['오뚜기',
  528777.7777777778,
  521650.0,
  519800.0,
  493750.0,
  519800.0,
  493750.0,
  528777.7777777778,
  521650.0,
  519800.0,
  493750.0],
 ['엘에스일렉트릭',
  53533.333333333336,
  49890.0,
  46260.0,
  42515.0,
  46260.0,
  42515.0,
  53533.333333333336,
  49890.0,
  46260.0,
  42515.0],
 ['동원시스템즈',
  26916.666666666668,
  25715.0,
  23870.0,
  22165.0,
  23870.0,
  22165.0,
  26916.666666666668,
  25715.0,
  23870.0,
  22165.0],
 ['롯데케미칼',
  206222.22222222222,
  204200.0,
  197850.0,
  179750.0,
  197850.0,
  179750.0,
  206222.22222222222,
  204200.0,
  197850.0,
  179750.0],
 ['세아베스틸',
  13733.333333333334,
  12775.0,
  11705.0,
  10188.0,
  11705.0,
  10188.0,
  13733.333333333334,
  12775.0,
  11705.0,
  10188.0],
 ['고려아연',
  403000.0,
  414300.0,
  435300.0,
  398350.0,
  435300.0,
  398350.0,
  403000.0,
  414300.0,
  435300.0,
  398350.0],
 ['한올바이오파마',
  27827.777777777777,
  25965.0,
  24280.0,
  23805.0,
  24280.0,
  23805.0,
  27827.777777777777,
  25965.0,
  24280.0,
  23805.0],
 ['현대모비스',
  242555.55555555556,
  233400.0,
  225750.0,
  195600.0,
  225750.0,
  195600.0,
  242555.55555555556,
  233400.0,
  225750.0,
  195600.0],
 ['녹십자',
  127111.11111111111,
  121100.0,
  113700.0,
  117600.0,
  113700.0,
  117600.0,
  127111.11111111111,
  121100.0,
  113700.0,
  117600.0],
 ['한솔케미칼',
  114500.0,
  109750.0,
  101130.0,
  91370.0,
  101130.0,
  91370.0,
  114500.0,
  109750.0,
  101130.0,
  91370.0],
 ['대덕',
  9810.0,
  9352.0,
  9996.0,
  8883.0,
  9996.0,
  8883.0,
  9810.0,
  9352.0,
  9996.0,
  8883.0],
 ['에스엘',
  17816.666666666668,
  17145.0,
  15845.0,
  13895.0,
  15845.0,
  13895.0,
  17816.666666666668,
  17145.0,
  15845.0,
  13895.0],
 ['보령제약',
  14444.444444444445,
  13760.0,
  12890.0,
  12030.0,
  12890.0,
  12030.0,
  14444.444444444445,
  13760.0,
  12890.0,
  12030.0],
 ['한국쉘석유',
  303444.44444444444,
  287750.0,
  269650.0,
  255850.0,
  269650.0,
  255850.0,
  303444.44444444444,
  287750.0,
  269650.0,
  255850.0],
 ['부광약품',
  14472.222222222223,
  14115.0,
  13300.0,
  15140.0,
  13300.0,
  15140.0,
  14472.222222222223,
  14115.0,
  13300.0,
  15140.0],
 ['포스코',
  234722.22222222222,
  219500.0,
  207950.0,
  185600.0,
  207950.0,
  185600.0,
  234722.22222222222,
  219500.0,
  207950.0,
  185600.0],
 ['동국제강',
  5249.444444444444,
  5271.0,
  4943.0,
  4273.0,
  4943.0,
  4273.0,
  5249.444444444444,
  5271.0,
  4943.0,
  4273.0],
 ['금호석유화학',
  74777.77777777778,
  68260.0,
  65170.0,
  60750.0,
  65170.0,
  60750.0,
  74777.77777777778,
  68260.0,
  65170.0,
  60750.0],
 ['세방전지',
  34700.0,
  33705.0,
  33355.0,
  31370.0,
  33355.0,
  31370.0,
  34700.0,
  33705.0,
  33355.0,
  31370.0],
 ['S-Oil',
  80055.55555555556,
  76480.0,
  73150.0,
  63210.0,
  73150.0,
  63210.0,
  80055.55555555556,
  76480.0,
  73150.0,
  63210.0],
 ['한화에어로스페이스',
  34238.88888888889,
  33465.0,
  30790.0,
  26555.0,
  30790.0,
  26555.0,
  34238.88888888889,
  33465.0,
  30790.0,
  26555.0],
 ['현대제철',
  29311.11111111111,
  28950.0,
  26565.0,
  22965.0,
  26565.0,
  22965.0,
  29311.11111111111,
  28950.0,
  26565.0,
  22965.0],
 ['아이에스동서',
  29755.555555555555,
  29365.0,
  28085.0,
  26225.0,
  28085.0,
  26225.0,
  29755.555555555555,
  29365.0,
  28085.0,
  26225.0],
 ['OCI',
  61377.77777777778,
  59730.0,
  55785.0,
  47135.0,
  55785.0,
  47135.0,
  61377.77777777778,
  59730.0,
  55785.0,
  47135.0],
 ['삼성SDI',
  280555.55555555556,
  321750.0,
  324450.0,
  300250.0,
  324450.0,
  300250.0,
  280555.55555555556,
  321750.0,
  324450.0,
  300250.0],
 ['삼성전기',
  132277.77777777778,
  136100.0,
  139950.0,
  125900.0,
  139950.0,
  125900.0,
  132277.77777777778,
  136100.0,
  139950.0,
  125900.0],
 ['빙그레',
  53855.555555555555,
  54730.0,
  53980.0,
  52470.0,
  53980.0,
  52470.0,
  53855.555555555555,
  54730.0,
  53980.0,
  52470.0],
 ['남양유업',
  414055.55555555556,
  410500.0,
  387750.0,
  378950.0,
  387750.0,
  378950.0,
  414055.55555555556,
  410500.0,
  387750.0,
  378950.0],
 ['농심',
  227277.77777777778,
  241700.0,
  272250.0,
  262900.0,
  272250.0,
  262900.0,
  227277.77777777778,
  241700.0,
  272250.0,
  262900.0],
 ['동양',
  1196.111111111111,
  1108.0,
  1097.5,
  1304.0,
  1097.5,
  1304.0,
  1196.111111111111,
  1108.0,
  1097.5,
  1304.0],
 ['한화',
  23033.333333333332,
  22700.0,
  21285.0,
  19625.0,
  21285.0,
  19625.0,
  23033.333333333332,
  22700.0,
  21285.0,
  19625.0],
 ['JW중외제약',
  28922.222222222223,
  28195.0,
  26830.0,
  26765.0,
  26830.0,
  26765.0,
  28922.222222222223,
  28195.0,
  26830.0,
  26765.0],
 ['영풍',
  647777.7777777778,
  620600.0,
  626900.0,
  547700.0,
  626900.0,
  547700.0,
  647777.7777777778,
  620600.0,
  626900.0,
  547700.0],
 ['고려제강',
  18911.11111111111,
  18215.0,
  17055.0,
  16000.0,
  17055.0,
  16000.0,
  18911.11111111111,
  18215.0,
  17055.0,
  16000.0],
 ['넥센타이어',
  8335.555555555555,
  7889.0,
  7147.0,
  5938.0,
  7147.0,
  5938.0,
  8335.555555555555,
  7889.0,
  7147.0,
  5938.0],
 ['롯데정밀화학',
  40888.88888888889,
  39490.0,
  37685.0,
  32860.0,
  37685.0,
  32860.0,
  40888.88888888889,
  39490.0,
  37685.0,
  32860.0],
 ['태광산업',
  980222.2222222222,
  926300.0,
  861100.0,
  754800.0,
  861100.0,
  754800.0,
  980222.2222222222,
  926300.0,
  861100.0,
  754800.0],
 ['한일현대시멘트',
  30850.0,
  29000.0,
  25795.0,
  25235.0,
  25795.0,
  25235.0,
  30850.0,
  29000.0,
  25795.0,
  25235.0],
 ['DB하이텍',
  29277.777777777777,
  28910.0,
  27515.0,
  24220.0,
  27515.0,
  24220.0,
  29277.777777777777,
  28910.0,
  27515.0,
  24220.0],
 ['삼성전자',
  59966.666666666664,
  59970.0,
  58200.0,
  54375.0,
  58200.0,
  54375.0,
  59966.666666666664,
  59970.0,
  58200.0,
  54375.0],
 ['쌍용자동차',
  2078.3333333333335,
  1932.5,
  1911.5,
  1778.0,
  1911.5,
  1778.0,
  2078.3333333333335,
  1932.5,
  1911.5,
  1778.0],
 ['쌍용양회공업',
  5073.333333333333,
  4968.5,
  4809.0,
  4958.0,
  4809.0,
  4958.0,
  5073.333333333333,
  4968.5,
  4809.0,
  4958.0],
 ['SPC삼립',
  80688.88888888889,
  77120.0,
  72400.0,
  66810.0,
  72400.0,
  66810.0,
  80688.88888888889,
  77120.0,
  72400.0,
  66810.0],
 ['일양약품',
  23444.444444444445,
  22985.0,
  21630.0,
  22915.0,
  21630.0,
  22915.0,
  23444.444444444445,
  22985.0,
  21630.0,
  22915.0],
 ['현대자동차',
  125055.55555555556,
  129950.0,
  126100.0,
  105170.0,
  126100.0,
  105170.0,
  125055.55555555556,
  129950.0,
  126100.0,
  105170.0],
 ['한화솔루션',
  18688.88888888889,
  18095.0,
  18970.0,
  16830.0,
  18970.0,
  16830.0,
  18688.88888888889,
  18095.0,
  18970.0,
  16830.0],
 ['기아자동차',
  42077.77777777778,
  40810.0,
  39355.0,
  33180.0,
  39355.0,
  33180.0,
  42077.77777777778,
  40810.0,
  39355.0,
  33180.0],
 ['영진약품',
  5798.888888888889,
  5782.0,
  5347.0,
  4922.0,
  5347.0,
  4922.0,
  5798.888888888889,
  5782.0,
  5347.0,
  4922.0],
 ['케이씨씨',
  220500.0,
  211800.0,
  192750.0,
  164150.0,
  192750.0,
  164150.0,
  220500.0,
  211800.0,
  192750.0,
  164150.0],
 ['롯데칠성음료',
  128333.33333333333,
  124750.0,
  118850.0,
  107200.0,
  118850.0,
  107200.0,
  128333.33333333333,
  124750.0,
  118850.0,
  107200.0],
 ['롯데푸드',
  382611.1111111111,
  362150.0,
  346400.0,
  317300.0,
  346400.0,
  317300.0,
  382611.1111111111,
  362150.0,
  346400.0,
  317300.0],
 ['아모레퍼시픽그룹',
  81300.0,
  70960.0,
  67480.0,
  60240.0,
  67480.0,
  60240.0,
  81300.0,
  70960.0,
  67480.0,
  60240.0],
 ['대상',
  21788.88888888889,
  21165.0,
  21255.0,
  18620.0,
  21255.0,
  18620.0,
  21788.88888888889,
  21165.0,
  21255.0,
  18620.0],
 ['유한양행',
  226722.22222222222,
  223650.0,
  215600.0,
  225650.0,
  215600.0,
  225650.0,
  226722.22222222222,
  223650.0,
  215600.0,
  225650.0],
 ['우리금융지주',
  10583.333333333334,
  10265.0,
  9868.0,
  8886.0,
  9868.0,
  8886.0,
  10583.333333333334,
  10265.0,
  9868.0,
  8886.0],
 ['쿠쿠홀딩스',
  110722.22222222222,
  103150.0,
  93670.0,
  92810.0,
  93670.0,
  92810.0,
  110722.22222222222,
  103150.0,
  93670.0,
  92810.0],
 ['BGF',
  5337.777777777777,
  5167.5,
  4896.0,
  4499.0,
  4896.0,
  4499.0,
  5337.777777777777,
  5167.5,
  4896.0,
  4499.0],
 ['BNK금융지주',
  7065.555555555556,
  6903.0,
  6464.0,
  5624.5,
  6464.0,
  5624.5,
  7065.555555555556,
  6903.0,
  6464.0,
  5624.5],
 ['한라홀딩스',
  43911.11111111111,
  40645.0,
  36985.0,
  32855.0,
  36985.0,
  32855.0,
  43911.11111111111,
  40645.0,
  36985.0,
  32855.0],
 ['SK',
  238833.33333333334,
  235750.0,
  210750.0,
  183600.0,
  210750.0,
  183600.0,
  238833.33333333334,
  235750.0,
  210750.0,
  183600.0],
 ['KB금융',
  46033.333333333336,
  43655.0,
  40495.0,
  36355.0,
  40495.0,
  36355.0,
  46033.333333333336,
  43655.0,
  40495.0,
  36355.0],
 ['JW홀딩스',
  5740.0,
  5566.0,
  5738.0,
  5030.0,
  5738.0,
  5030.0,
  5740.0,
  5566.0,
  5738.0,
  5030.0],
 ['삼성카드',
  37811.11111111111,
  37075.0,
  34770.0,
  33595.0,
  34770.0,
  33595.0,
  37811.11111111111,
  37075.0,
  34770.0,
  33595.0],
 ['하나금융지주',
  34400.0,
  34230.0,
  32335.0,
  28345.0,
  32335.0,
  28345.0,
  34400.0,
  34230.0,
  32335.0,
  28345.0],
 ['GS',
  47566.666666666664,
  45915.0,
  43455.0,
  39655.0,
  43455.0,
  39655.0,
  47566.666666666664,
  45915.0,
  43455.0,
  39655.0],
 ['한국금융지주',
  71677.77777777778,
  67970.0,
  66070.0,
  61350.0,
  66070.0,
  61350.0,
  71677.77777777778,
  67970.0,
  66070.0,
  61350.0],
 ['신한지주',
  40550.0,
  38715.0,
  34990.0,
  30920.0,
  34990.0,
  30920.0,
  40550.0,
  38715.0,
  34990.0,
  30920.0],
 ['AK홀딩스',
  32327.777777777777,
  30230.0,
  27285.0,
  23630.0,
  27285.0,
  23630.0,
  32327.777777777777,
  30230.0,
  27285.0,
  23630.0],
 ['HDC',
  10777.777777777777,
  10436.0,
  9802.0,
  9112.0,
  9802.0,
  9112.0,
  10777.777777777777,
  10436.0,
  9802.0,
  9112.0],
 ['한미사이언스',
  35211.11111111111,
  34095.0,
  32030.0,
  30600.0,
  32030.0,
  30600.0,
  35211.11111111111,
  34095.0,
  32030.0,
  30600.0],
 ['LS',
  42733.333333333336,
  40875.0,
  39205.0,
  35170.0,
  39205.0,
  35170.0,
  42733.333333333336,
  40875.0,
  39205.0,
  35170.0],
 ['SK디스커버리',
  25355.555555555555,
  24405.0,
  23360.0,
  21290.0,
  23360.0,
  21290.0,
  25355.555555555555,
  24405.0,
  23360.0,
  21290.0],
 ['오리온홀딩스',
  16550.0,
  15870.0,
  15435.0,
  14165.0,
  15435.0,
  14165.0,
  16550.0,
  15870.0,
  15435.0,
  14165.0],
 ['롯데지주',
  36994.444444444445,
  34560.0,
  30970.0,
  28965.0,
  30970.0,
  28965.0,
  36994.444444444445,
  34560.0,
  30970.0,
  28965.0],
 ['효성',
  72544.44444444444,
  73550.0,
  71810.0,
  68970.0,
  71810.0,
  68970.0,
  72544.44444444444,
  73550.0,
  71810.0,
  68970.0],
 ['CJ',
  88333.33333333333,
  87100.0,
  88690.0,
  76810.0,
  88690.0,
  76810.0,
  88333.33333333333,
  87100.0,
  88690.0,
  76810.0],
 ['LG',
  72788.88888888889,
  74760.0,
  73360.0,
  66450.0,
  73360.0,
  66450.0,
  72788.88888888889,
  74760.0,
  73360.0,
  66450.0],
 ['동아쏘시오홀딩스',
  95655.55555555556,
  93480.0,
  88540.0,
  84040.0,
  88540.0,
  84040.0,
  95655.55555555556,
  93480.0,
  88540.0,
  84040.0],
 ['삼양홀딩스',
  59700.0,
  56220.0,
  52625.0,
  47550.0,
  52625.0,
  47550.0,
  59700.0,
  56220.0,
  52625.0,
  47550.0],
 ['한국테크놀로지그룹',
  13561.111111111111,
  13190.0,
  12700.0,
  11361.0,
  12700.0,
  11361.0,
  13561.111111111111,
  13190.0,
  12700.0,
  11361.0],
 ['삼성에스디에스',
  200722.22222222222,
  197300.0,
  187050.0,
  169100.0,
  187050.0,
  169100.0,
  200722.22222222222,
  197300.0,
  187050.0,
  169100.0],
 ['카카오',
  164500.0,
  169050.0,
  183600.0,
  171400.0,
  183600.0,
  171400.0,
  164500.0,
  169050.0,
  183600.0,
  171400.0],
 ['NAVER',
  183055.55555555556,
  183000.0,
  186150.0,
  173150.0,
  186150.0,
  173150.0,
  183055.55555555556,
  183000.0,
  186150.0,
  173150.0],
 ['넷마블',
  92822.22222222222,
  93510.0,
  92150.0,
  90610.0,
  92150.0,
  90610.0,
  92822.22222222222,
  93510.0,
  92150.0,
  90610.0],
 ['엔씨소프트',
  640666.6666666666,
  652300.0,
  665200.0,
  677500.0,
  665200.0,
  677500.0,
  640666.6666666666,
  652300.0,
  665200.0,
  677500.0],
 ['롯데하이마트',
  27755.555555555555,
  26205.0,
  23170.0,
  19955.0,
  23170.0,
  19955.0,
  27755.555555555555,
  26205.0,
  23170.0,
  19955.0],
 ['LG유플러스',
  13555.555555555555,
  13790.0,
  14010.0,
  12845.0,
  14010.0,
  12845.0,
  13555.555555555555,

In [0]:
# df.dropna()를 이용해 결측값 있는 행 제거 
df = df.dropna()
code_df = code_df.dropna()
df = df[['날짜','종가']] #날짜와 종가만 가져옴
len(df['종가'])

In [0]:
season4 = df.iloc[:26]# 5월 8일부터 6월 12일까지 약 한달
season3 = df.iloc[26:51]
season2 = df.iloc[51:76]
season1 = df.iloc[75:]
s4_m = season4.mean()# 5월간 종가 평균
s3_m = season3.mean()
s2_m = season2.mean()
s1_m = season1.mean()
s_m = pd.concat([s1_m, s2_m, s3_m, s4_m], keys= ['Season1','Season2','Season3' ,'Season4'] , axis = 1) # 좌우로 합침
s_m

In [0]:
sns.lineplot(x='날짜', y='종가', data= df)

In [86]:
len(season_price)
len(season_price[0])
ps = pd.DataFrame(season_price)#, columns = ['name', 'Season0','Season1','Season2','Season3','Season4', 'Season5','Season6','Season7','Season8''Season9','Season10'])
ps

        0              1         2   ...        8         9         10
0    효성중공업   24361.111111   24110.0  ...   24110.0   22050.0   17890.0
1     애경산업   31116.666667   30825.0  ...   30825.0   28820.0   26085.0
2     셀트리온  171722.222222  172250.0  ...  172250.0  176300.0  175450.0
3    SK케미칼   64188.888889   67220.0  ...   67220.0   64420.0   60110.0
4      오리온  108333.333333  107450.0  ...  107450.0  102190.0   97350.0
..     ...            ...       ...  ...       ...       ...       ...
142  한전KPS   38944.444444   36955.0  ...   36955.0   35060.0   32600.0
143   LG전자   68588.888889   66550.0  ...   66550.0   65040.0   58750.0
144    케이티   25822.222222   25120.0  ...   25120.0   24505.0   23170.0
145  SK텔레콤  234055.555556  226650.0  ...  226650.0  220100.0  214200.0
146   삼성전자   59966.666667   59970.0  ...   59970.0   58200.0   54375.0

[147 rows x 11 columns]

In [101]:
sp_df = pd.DataFrame(season_price, columns = ['name', 'Season1','Season2','Season3','Season4', 'Season5','Season6','Season7','Season8','Season9','Season10'])
#new_df = pd.concat([new_df, sp_df].rese)
sp_df

      name        Season1   Season2  ...   Season8   Season9  Season10
0    효성중공업   24361.111111   24110.0  ...   24110.0   22050.0   17890.0
1     애경산업   31116.666667   30825.0  ...   30825.0   28820.0   26085.0
2     셀트리온  171722.222222  172250.0  ...  172250.0  176300.0  175450.0
3    SK케미칼   64188.888889   67220.0  ...   67220.0   64420.0   60110.0
4      오리온  108333.333333  107450.0  ...  107450.0  102190.0   97350.0
..     ...            ...       ...  ...       ...       ...       ...
142  한전KPS   38944.444444   36955.0  ...   36955.0   35060.0   32600.0
143   LG전자   68588.888889   66550.0  ...   66550.0   65040.0   58750.0
144    케이티   25822.222222   25120.0  ...   25120.0   24505.0   23170.0
145  SK텔레콤  234055.555556  226650.0  ...  226650.0  220100.0  214200.0
146   삼성전자   59966.666667   59970.0  ...   59970.0   58200.0   54375.0

[147 rows x 11 columns]

In [0]:
sp_df.columns =  ['name', 'Season1','Season2','Season3','Season4', 'Season5','Season6','Season7','Season8','Season9','Season10']

In [104]:
final_df = pd.merge(sss, sp_df, on = 'name')
final_df

       name    code  ...   Season9  Season10
0     효성중공업  298040  ...   22050.0   17890.0
1      애경산업  018250  ...   28820.0   26085.0
2      셀트리온  068270  ...  176300.0  175450.0
3     SK케미칼  285130  ...   64420.0   60110.0
4       오리온  271560  ...  102190.0   97350.0
..      ...     ...  ...       ...       ...
146  롯데하이마트  071840  ...   23170.0   19955.0
147  LG유플러스  032640  ...   14010.0   12845.0
148   한전KPS  051600  ...   35060.0   32600.0
149     케이티  030200  ...   24505.0   23170.0
150   SK텔레콤  017670  ...  220100.0  214200.0

[151 rows x 14 columns]

In [0]:
final_df.to_csv('/content/drive/My Drive/Colab Notebooks/kos_means10.csv', sep =',', na_rep = 'NaN') #sep 구분자, na_rep 결측값 표기

In [0]:
final_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/kos_means10.csv')

In [107]:
len(final_df)

151

In [108]:
len(final_df['name'].unique())

145

In [109]:
final_df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
146    False
147    False
148    False
149    False
150    False
Length: 151, dtype: bool

In [110]:
final = final_df.drop_duplicates(['name'], keep='last') #  열만 기준으로 중복행 제거 
final # 중복 없는 데이터프레임 완성

     Unnamed: 0    name    code  ...   Season8   Season9  Season10
0             0   효성중공업  298040  ...   24110.0   22050.0   17890.0
1             1    애경산업   18250  ...   30825.0   28820.0   26085.0
2             2    셀트리온   68270  ...  172250.0  176300.0  175450.0
3             3   SK케미칼  285130  ...   67220.0   64420.0   60110.0
4             4     오리온  271560  ...  107450.0  102190.0   97350.0
..          ...     ...     ...  ...       ...       ...       ...
146         146  롯데하이마트   71840  ...   26205.0   23170.0   19955.0
147         147  LG유플러스   32640  ...   13790.0   14010.0   12845.0
148         148   한전KPS   51600  ...   36955.0   35060.0   32600.0
149         149     케이티   30200  ...   25120.0   24505.0   23170.0
150         150   SK텔레콤   17670  ...  226650.0  220100.0  214200.0

[145 rows x 15 columns]

In [111]:
final.describe()

       Unnamed: 0           code  ...       Season9      Season10
count  145.000000     145.000000  ...  1.450000e+02  1.450000e+02
mean    75.248276   50833.655172  ...  1.046524e+05  9.699575e+04
std     44.223632   71241.655055  ...  1.709315e+05  1.592807e+05
min      0.000000      70.000000  ...  1.097500e+03  1.304000e+03
25%     36.000000    4990.000000  ...  2.131500e+04  1.962500e+04
50%     75.000000   14820.000000  ...  3.948000e+04  3.517000e+04
75%    114.000000   71050.000000  ...  1.021900e+05  9.735000e+04
max    150.000000  316140.000000  ...  1.324900e+06  1.231700e+06

[8 rows x 12 columns]

In [112]:
final_int = final.astype({'Season1': int,'Season2': int,'Season3': int,'Season4': int})
final_int

     Unnamed: 0    name    code  ...   Season8   Season9  Season10
0             0   효성중공업  298040  ...   24110.0   22050.0   17890.0
1             1    애경산업   18250  ...   30825.0   28820.0   26085.0
2             2    셀트리온   68270  ...  172250.0  176300.0  175450.0
3             3   SK케미칼  285130  ...   67220.0   64420.0   60110.0
4             4     오리온  271560  ...  107450.0  102190.0   97350.0
..          ...     ...     ...  ...       ...       ...       ...
146         146  롯데하이마트   71840  ...   26205.0   23170.0   19955.0
147         147  LG유플러스   32640  ...   13790.0   14010.0   12845.0
148         148   한전KPS   51600  ...   36955.0   35060.0   32600.0
149         149     케이티   30200  ...   25120.0   24505.0   23170.0
150         150   SK텔레콤   17670  ...  226650.0  220100.0  214200.0

[145 rows x 15 columns]

In [113]:
final_int.describe()

       Unnamed: 0           code  ...       Season9      Season10
count  145.000000     145.000000  ...  1.450000e+02  1.450000e+02
mean    75.248276   50833.655172  ...  1.046524e+05  9.699575e+04
std     44.223632   71241.655055  ...  1.709315e+05  1.592807e+05
min      0.000000      70.000000  ...  1.097500e+03  1.304000e+03
25%     36.000000    4990.000000  ...  2.131500e+04  1.962500e+04
50%     75.000000   14820.000000  ...  3.948000e+04  3.517000e+04
75%    114.000000   71050.000000  ...  1.021900e+05  9.735000e+04
max    150.000000  316140.000000  ...  1.324900e+06  1.231700e+06

[8 rows x 12 columns]

In [114]:
final_int.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145 entries, 0 to 150
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  145 non-null    int64
 1   name        145 non-null    object
 2   code        145 non-null    int64
 3   sector      145 non-null    object
 4   Field       145 non-null    object
 5   Season1     145 non-null    int64
 6   Season2     145 non-null    int64
 7   Season3     145 non-null    int64
 8   Season4     145 non-null    int64
 9   Season5     145 non-null    float64
 10  Season6     145 non-null    float64
 11  Season7     145 non-null    float64
 12  Season8     145 non-null    float64
 13  Season9     145 non-null    float64
 14  Season10    145 non-null    float64
dtypes: float64(6), int64(6), object(3)
memory usage: 18.1+ KB

In [117]:
final_values = final_int[['Field', 'Season1','Season2','Season3','Season4', 'Season5','Season6','Season7','Season8','Season9','Season10']]
final_values

             Field  Season1  Season2  ...   Season8   Season9  Season10
0    Manufacturing    24361    24110  ...   24110.0   22050.0   17890.0
1    Manufacturing    31116    30825  ...   30825.0   28820.0   26085.0
2    Manufacturing   171722   172250  ...  172250.0  176300.0  175450.0
3    Manufacturing    64188    67220  ...   67220.0   64420.0   60110.0
4    Manufacturing   108333   107450  ...  107450.0  102190.0   97350.0
..             ...      ...      ...  ...       ...       ...       ...
146             IT    27755    26205  ...   26205.0   23170.0   19955.0
147             IT    13555    13790  ...   13790.0   14010.0   12845.0
148             IT    38944    36955  ...   36955.0   35060.0   32600.0
149             IT    25822    25120  ...   25120.0   24505.0   23170.0
150             IT   234055   226650  ...  226650.0  220100.0  214200.0

[145 rows x 11 columns]

In [118]:
melt_final = pd.melt(final_values, id_vars = 'Field')
melt_final.columns = ['field', 'seasons', 'price']
melt_final

              field   seasons     price
0     Manufacturing   Season1   24361.0
1     Manufacturing   Season1   31116.0
2     Manufacturing   Season1  171722.0
3     Manufacturing   Season1   64188.0
4     Manufacturing   Season1  108333.0
...             ...       ...       ...
1445             IT  Season10   19955.0
1446             IT  Season10   12845.0
1447             IT  Season10   32600.0
1448             IT  Season10   23170.0
1449             IT  Season10  214200.0

[1450 rows x 3 columns]

In [119]:
sns.lineplot(x='seasons', y= 'price', hue='field', data= melt_final)

In [0]:
sns.boxplot(x='seasons', y= 'price', hue='field', data= melt_final)

In [0]:
sns.scatterplot(x='seasons', y= 'price', hue='field', data= melt_final)

In [0]:
sns.pairplot(melt_final, hue= 'field', corner = True)